<form action="/process_chat" method="post">
  <label for="new_message_field"> You: </label>
  <input id="new_message" type="text" name="user_message" placeholder="Enter a message...">
  
  <button> Send </button>
</form>
